*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #4B0082;
    color: #FFDD57;
}
body{
    background-color: #5F5F5F;
}
header{
    background-color: #4B0082;
    color:#FFDD57;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color:#FFDD57;
}
nav {
    display: flex;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav h3{
    color: #FFDD57;
    font-weight: bold;
    border-radius: 100%;
    width: 20px;
    background-color: #4B0082;

}
nav a {
    color: #FFDD57;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color:  #5F5F5F;
}
button {
    background-color: #4B0082;
    color: #FFDD57;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.8s;
}

button:hover {
    background-color: #FFDD57;
    color: #4B0082;
}
input[type="text"]::placeholder {
    color:#FFDD57;
}
input{
    color: #FFDD57;
    height: 37px;
    width: 300px;
    background-color: #4B0082;
}
/*? AQUI EMPIEZA EL CSS DE LAS SECTION PRINCIPALES*/

.sectionBusqueda{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.sectionBusqueda div{
    padding: 5px;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionCreacion{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.sectionCreacion div{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/*! AQUI EMPIEZA EL CSS DEL JS E */
.pokeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.pokeContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin-top: 30px;
    height: 350px;
}
.teamContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.teamDiv{
    margin-top: 20px;
    padding: 10px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;
}
.pokeCard h3{
    color: black;
}
.pokeCard img{
    width: 120px;
    height: 120px;
}
.pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;
}
.pokedex h3{
    color: black;
    font-size: 25px;
}
.pokedex p{
    background-color: black;
    color: #FFDD57;
}
.pokedex img{
    width: 250px;
    height: 250px;
}
.div-imagen{
    display: flex;
    flex-direction: column;
}
.pokeCardRandom{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.pokeCardRandom h3{
    color: black;
}
.pokeCardRandom li{
    list-style: none;
    color:black;
}
.pokeCardRandom img{
    width: 120px;
    height: 120px;
}
#agregar{
    display:none;
}
